<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="api.utilities.ListenerClass"></listener>
	</listeners>

	<test name="User-Test">
		<classes>
			<class name="api.testcases.UserTests" />
		</classes>
	</test> <!-- User-Test -->
	
	<test name="Store-Test">
		<classes>
			<class name="api.testcases.StoreTests" />
		</classes>
	</test> <!-- Store-Test -->
	
</suite> <!-- Suite -->
